.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, blue, purple);
    text-align: center;
  }
  
  .pageTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  